CompileFlags:
  Add:
    - -x
    - c++
    - -std=c++26
    - -freflection
    - -fexpansion-statements
    - -isystem
    - tools/libcxx/include
  CompilationDatabase: ./build/vcpkg-multi-config/
Diagnostics:
  MissingIncludes: None
  UnusedIncludes: Strict
Completion:
  HeaderInsertion: Never
InlayHints:
  Enabled: true
  DeducedTypes: true
  TypeNameLimit: 24
---
If:
  PathMatch: .*\.(cl|h|c)$
CompileFlags:
  Add: [-x, c]
  Remove:
    - -x
    - c++
    - -std=c++26
    - -freflection
    - -fexpansion-statements
    - -stdlib=libc++
---
If:
  PathMatch: pch/pch\.hpp
Diagnostics:
  UnusedIncludes: None
