# Stops EditorConfig from looking for other config files in parent directories.
root = true

[*]
charset = utf-8
end_of_line = lf
indent_width = 4
tab_width = 4
indent_style = tab

[*.{yaml,yml}]
indent_style = space
tab_width = 2
indent_size = 2

[{CMakeLists.txt,*.cmake}]
indent_style = space
tab_width = 2 
indent_size = 2
